* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  background-color: rgb(224, 208, 167);
  color: #1f2933;
   overflow-x: hidden;
}

/* NAVBAR */

.navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;

  background-color: rgba(255,255,255,0.7);

  position: sticky;
  top: 0;

  backdrop-filter: blur(10px);

  z-index: 1000;
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 30px;

  list-style: none;

  margin: 0;
  padding: 0;

  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #1f2933;

  font-weight: 600;

  transition: opacity 0.2s ease;
}

.nav-links a:hover {
  opacity: 0.7;
}

/* HERO SECTION */

.container {
  height: calc(100vh - 80px);

  display: flex;
  justify-content: top;
  flex-direction: column;

  padding-left: 300px;
}
h1 {
  font-size: 5rem;

  margin-bottom: 20px;

  line-height: 1;
}

p {
  font-size: 1.2rem;

  color: #000000;

  max-width: 900px;

  line-height: 1.6;
}

/* FADE ANIMATION */

.fade-element {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-element.visible {
  opacity: 1;
  transform: translateY(0);
}
.shape {
  position: absolute;

  z-index: -1;
}

.list{
      font-size: 1.2rem;
color: #000000;

}
.shape1 {
  width: 300px;
  height: 300px;

  background-color: #f97352;

  border-radius: 50%;

  top: 150px;
  right: 150px;

  opacity: 0.8;
}
.shape2 {
  width: 260px;
  height: 260px;

  background-color: #2f5d50;

  border-radius: 50%;

  top: 680px;
  right: 1100px;

  opacity: 0.8;
}
.shape3 {
  width: 200px;
  height: 200px;

  background-color: #6b8fb3;

  border-radius: 50%;

  top: 380px;
  right: 450px;

  opacity: 0.8;
}
.shape4 {
  width: 250px;
  height: 250px;

  background: #41b8c5;

  border-radius: 0 100% 0 0;

  position: absolute;

  bottom: 0;
  right: 500px;
}
.shape5 {
  width: 150px;
  height: 150px;

  background: #c96b5c;

  border-radius: 0 100% 0 0;
transform: rotate(180deg);
  position: absolute;

  bottom: 700;
  right: 740px;
}
.shape6 {
  width: 250px;
  height: 250px;

  background: #f5f1e8;

  border-radius: 0 100% 0 0;
transform: rotate(360deg);
  position: absolute;

  bottom: 100px;
  right: 1700px;
}
@media (max-width: 768px) {

  /* NAVBAR */
  .navbar {
    padding: 15px 20px;
    flex-direction: column;
    gap: 10px;
  }

  .nav-links {
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* MAIN LAYOUT */
  .container {
    padding: 20px;
    text-align: center;
    align-items: center;
  }

  h1 {
    font-size: 2.8rem;
  }

  p {
    font-size: 1rem;
    max-width: 100%;
  }

  /* WORK SECTION */
  .work-container {
    flex-direction: column;
    gap: 25px;
  }

  .work-card {
    width: 300px;
    height: 300px;
  }

  /* CONTACT */
  .contact-container {
    flex-direction: column;
    gap: 20px;
  }

  .contact-icon {
    width: 85px;
    height: 85px;
  }

}